.header-menu-socials {
    display: flex;
    gap: 10px;
}

.list {
    padding-left: 20px;
    margin: 10px;
    list-style: outside;
    font-size: 16px;
}

.core-values {
    display: flex;
    gap: 0;
}


@media (max-width: 767px) {
    .hide-section {
        display: none;
    }
     .slide-subtitle {
        width: 280px;
    }
}