.header-menu-socials {
    display: flex;
    gap: 10px;
}

.list {
    padding-left: 20px;
    margin: 10px;
    list-style: outside;
    font-size: 16px;
}

.core-values {
    display: flex;
    gap: 0;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    padding-top: 80px;
    width: 50%;
}

.page-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.page-header-content {
    padding: 80px 0;
    width: 50%;
}

.partner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.partner-content {
    padding: 80px 0;
    width: 50%;
}

.addon-wrapper {
    padding: 100px 0;
}

.addon-wrapper-item-gray {
    background-color: #f7fbfe;
    padding: 100px 0;
}

.addon-wrapper-item-white {
    background-color: #fff;
    padding: 100px 0;
}

.about-add-ons-container {
    width: 85%;
    margin: 0 auto;
}

.about-add-ons-item {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 767px) {
    .hide-section {
        display: none;
    }
     .slide-subtitle {
        width: 280px;
    }
}